<div class="container">
	<h1 class="py-3 mont"><%= t('.edit_reference')%></h1>

	<div class="row rale">
		<div class="col-12 col-md-6">
			<%= render 'form', reference: @reference %>
      		<%= link_to '<i class="fas fa-angle-left"></i>'.html_safe, references_path, class: "btn btn1 mt-3"%>
		</div>
		<div class="col-12 col-md-6">
			<% if @reference.pictures.any? %>
				<div class="row" id="result">
					<%=render 'images'%>
				</div>
			<%end%>
		</div>
	</div>
</div>
