<%@service.pictures.each_with_index do |pic,index|%>
	<div class="col-6 col-sm-4 col-md-6 col-lg-4 p-2">
		<div class="cont">
			<%= image_tag(pic.url, class: "img-fluid")%>
			<div class="middle">
				<%= link_to "<span>x</span>".html_safe, {controller: 'services', action: 'destroy_picture', index:index, id:@service}, method: 'put', remote: true%>
			</div>
		</div>
	</div>
<%end%>