<% content_for :head do %>
    <%= stylesheet_link_tag "news", media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>
<%= render "layouts/header_main" %>
<div class="container">
	<div class="row">
		<div class="col-12">
			<h1 class="mont">Lorem ipsum</h1>
		</div>
		<div class="col-12">
			<small class="rale">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempor dictum sem, in placerat erat elementum id. Cras ullamcorper vel diam id congue. Vestibulum sed hendrerit dolor. Mauris ultrices semper enim, non molestie lacus aliquet eget. Nulla placerat dui quis augue dictum imperdiet. Nullam rutrum consequat ornare. Quisque imperdiet erat lorem, sit amet feugiat sem tempus a. Suspendisse potenti. Duis venenatis nisi mi, ac posuere risus volutpat sed. Aenean egestas leo mi.
			</small>
		</div>
	</div>
</div>
<% content_for :foot do %>
	<%= render "layouts/footer_main" %>
<% end %>
