<%= render "layouts/header_main" %>
	<body>
		<div class="container">
			<section class="row">
				<div class="col col-12">
					<h2>Resultados obtenidos:</h2>		
				</div>
				
				<div id="noticias" class="col col-12">
					
				</div>
			</section>
		</div>
	</body>
<%= render "layouts/footer_main" %>