@import "bootstrap";
@import "summernote-bs4";
@import "summernote-custom-theme.min";
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Raleway');

html, body{ height:100%;}

.alert{
	position: fixed;
	width: 60%;
	z-index: 1051;
	border-radius: 4px;
}

#contenido {
  min-height: calc(100vh - 72px);
}

.center{
	margin: auto;
	text-align: center;
}

.juju{
	background-color:rgba(0,0,0,0.4);
	border-radius: 4px;
}
.mont{
	font-family: 'Montserrat' ,sans-serif;
	font-weight: bolder;
}

.rale{
	font-family: 'Raleway',sans-serif;
}

.lato{
	font-family: 'Lato', sans-serif;
}


.wl{
	color: #FFFFFF;
}

.rl{
	color:red;
}
.note-toolbar {
    z-index: auto;
}
.btn1{
	border-color: #39BDDC;
	color: #5CB1F7;
	.octicon{
	    fill: #5CB1F7;
	};
	font-family: 'Lato', sans-serif;
}

.btn1:hover{
	background-color: #5CB1F7;
	border-color: #39BDDC;
	color: white;
	.octicon{
	    fill: white;
	};
}

.btn2{
	background-color: #5CB1F7;
	border-color: #39BDDC;
	color: white;
	.octicon{
	    fill: white;
	};
	font-family: 'Lato', sans-serif;
}

.btn2:hover{
	background-color: white;
	border-color: #39BDDC;
	color: #5CB1F7;
	.octicon{
	    fill: #5CB1F7;
	};
}

.btn3{
	border-color: white;
	color: white;
	.octicon{
	    fill: white;
	};
	font-family: 'Lato', sans-serif;

}

.btn3:hover{
	background-color: white;
	border-color: #39BDDC;
	color: #5CB1F7;
	.octicon{
	    fill: #5CB1F7;
	};
}

.btn{
	min-width: 40px;
}

h1{font-size: 1rem;}
h2{font-size: .9rem;}

p{
	text-align: justify;
	font-size: .8rem;
}

.btn-circle {
	width: 50px;
	height: 50px;
	padding: 16px;
	border-radius: 50%;
	font-size: 30px;
	background-color: black;
	color:white;
	position: fixed;
	bottom: 85px;
	right: 30px;
	z-index:2;
	font-family: 'Lato', sans-serif;
	.octicon{
		fill: white;
	}
}

.btn-circle:hover{
  color:white;
}

.jumpline{
	white-space: pre-line;
}

.cont {
	border-radius: 2px;
	position: relative;
	width: 100%;
	max-width: 900px;
	a {
	  	top: 50%;
		left: 50%;
		position: absolute;
		opacity: 0.5;
		background-color: #5CB1F7;
		color: white;
		padding: 2px 10px;
		border-radius: 10%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		text-decoration: none;
		transition: .5s ease;
		span{
			font-size: 1rem;
		}
		.octicon{
		    fill: white;
		};
	}
	.img-fluid {
		opacity: 1;
		display: block;
		width: 100%;
		height: auto;
		transition: .5s ease;
		backface-visibility: hidden;
		max-height: 110px;
		border-radius: 2px;
	}
}

.cont:hover {
	.middle{
  		opacity: 1;
  		background-color: rgba(0,0,0,0.4);
	};

	a:hover{
  		opacity: 1;
		background-color: #5CB1F7;
	}
}

.middle{
	transition:0.3s ease;
	opacity:0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	height: 100%;
  	width: 100%;
	border-radius: 2px;
}

@media (min-width: 576px) {  
	h1{font-size: 1.1rem;}
	h2{font-size: 1rem;}
	p{font-size: .9rem;}
	.cont{
		a{
			padding: 2px 8px;
		}
		.img-fluid{
			max-height: 94px;
		}
	}
}

@media (min-width: 768px) {
	h1{font-size:1.2rem;}
	h2{font-size: 1.1rem}
	p{font-size: 1rem}
	#contenido {
	  min-height: calc(100vh - 54px);
	}
	.cont{
		.img-fluid{
			max-height: 94px;
		}
	}
}

@media (min-width: 992px) { 
	h1{font-size:1.3rem;}
	h2{font-size: 1.2rem}
	.cont{
		.img-fluid{
			max-height: 82px;
		}
	}
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {     
	h1{font-size:1.4rem;} 
	h2{font-size: 1.3rem;}
	.cont{
		.img-fluid{
			max-height: 100px;
		}
	}
	
}

