#formulario {
  background-color: black;
}
.form-group .form-control {
  background-color: black;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #737373;
}

.form-group .form-control:focus {
  background-color: black;
  outline: none;
  color: white;
  border-bottom: 1px solid white;
}

#corr {
  margin: auto;
}

#map{
    border: 0px;
    width: 100%;
    height: 350px;
}

#checkToggle{
  background-color: #5CB1F7;
  border: 0;
  padding: 0;
  margin: 0;
  color:white;
}

td a{
  color:black;
}

td a:hover{
  color:black;
}


#checkToggle:focus {
  outline: none;
}

li{
  font-weight: normal;
  text-align: justify;
}

i{
  width:20px;
}

.toggle{
  min-width:65px;
}

.buttons{
  min-width:100px;
}

.tableHeader{
  min-width:130px;
}

#submitContactado, #submitNoContactado{
  padding-left:0;
  padding-right:0;
  padding-top:0;
}

#submitBorrar{
  padding:0;
  
}

#info{
	padding: 50px 0px;
}

thead{
  background-color: #5CB1F7;
}

table{
  border-radius:4px;
  overflow:hidden;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgba(92, 177, 247, 0.3);
}

.table > thead > tr > th {
   border-bottom: 0;
}

#consultasHolder input,#consultasHolder label,#consultasHolder textarea{font-size: .8rem;}

 
 /*Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
	#consultasHolder input,#consultasHolder label,#consultasHolder textarea{font-size: 1rem;}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	#map{
		border: 0px;
		width: 100%;
		height: 100%;
	}
}