@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Raleway');
/*
Parrafos, botones, etc
font-family: 'Lato', sans-serif;
Titulos
font-family: 'Montserrat', sans-serif;
Subtitulos y parrafos importantisimos (?)
font-family: 'Raleway', sans-serif;
Rojito, celestito,gris oscuro, blanquito hueso, gris medio, celestito medio
#F92222. #5CB1F7, #272C30, #FBFBFB, #9AABB8, #39BDDC
*/
.icon {
	color:black;
	:hover{
		color: #FBFBFB; 
	}
}

#top button{
	font-size: 0.9rem;
}

#validate{
	cursor: pointer;
}

#line {
	border: .5px solid light-gray;
}

.sticky-top{
	background-color: #FBFBFB;
	z-index: 9;
}

.sticky-top input,div[class^=container] a{
	font-size: 0.9rem;
}

#word{
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.input-group-append button{
	height: 35px;
}

.navbar{
	padding: 0.3rem;
}

.footer{
	background-color: #9AABB8;
	position: relative;
}

img[id^=logo]{
	height: 35px;
	width: auto;
	margin-top: 4px;
}

.dropdown-menu{
	z-index: 10;
}

.dropdown-item:active{
	background-color:transparent;
	color:black;
}


/*Small devices (smartphones, 576 and up)*/
@media (min-width: 576px) {
	
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
}

@media (max-width: 992px) { 
	.sticky-top .container, #top{
		margin: auto;
		max-width: 100%;
	}

}

@media (min-width: 992px) { 
}

@media (min-width: 1200px) { 
}