.ik{
	height: 120px;
	width: 120px;
}

.tituloP{
	height: 30%;
}

.textoP{
	height: 25%;
}

#clientes{
	background-color: #5CB1F7;
}

div[id^=prodDato]{
	height: 110px;
	background-color: black;
	padding-right:3%;
	padding-left:3%;
	padding-bottom:5%;
}

div[id^=prodDato]:first-child{
	max-height: 100%;
}

a[class^=carousel-control]{
	width: 4%;
}

.carousel-indicators{
	margin: 0 0 3px 0;
}

@media (min-width: 544px) {  
	div[id^=prodDato] {height:120px;}
	.ik{height: 140px;width: 140px;}
	.serviceHolder p{padding: 10px 50px;}
	h1{font-size: 1.25rem;}
	h2{font-size: 1.1rem;}
}

 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
	.ik{height: 145px;width: 145px;}
	.serviceHolder p{padding: 10px 25%;}
	h1{font-size: 1.4rem;}
	h2{font-size: 1.25rem;}
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	div[id^=prodDato] {
		height:100%;
		padding:0% 10%;
	}
	.ik{height: 150px;width: 150px;}
	.serviceHolder p{padding: 10px 50px;}
	h1{font-size: 1.75rem;}
	h2{font-size: 1.45rem;}
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {     
	.ik{height: 155px;width: 155px;}
	h1{font-size: 2rem;}
	h2{font-size: 1.75rem;}
}