div[id^=servicios]:hover {
  border: 2px solid #5CB1F7;
  
}

.parrafo{
  text-align:center;
}

div[id^=servicios]{
  border-style:solid;
  border-width:2px;
  border-radius:10px;
  border-color:rgba(0, 0, 0, 0.15);
  margin-top:15px;
  height:280px;

}

img{
  height:140px;
  margin-bottom:10px;
}

@media (min-width: 544px) {  
  div[id^=servicios]{
    height:320px;
  }

  img{
    height:208px;
  }
}

@media (min-width: 768px) {
  div[id^=servicios]{
    height:320px;
  }

  img{
    height:208px;
  }
}

@media (min-width: 992px) { 
  div[id^=servicios]{
    height:500px;
  }

  img{
    height:208px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {     
  div[id^=servicios]{
    height:500px;
  }

  img{
    height:208px;
  }
}

