<footer class="lato footer mt-3">
	<div class="container">
		<div class="row pt-1 pb-1">
				<%= image_tag(image_path("logo-icono.png"),:id => "logofooter",:class=>"d-none d-md-block", :alt=>"iconHIS") %>		
			<div class="col p-2">
				<small class="my-3">©<%= Date.today.year %> HIS Sistemas Cia. Ltda. Desarrollado por Jose Escobar & Fernando Vaca. Todos los derechos reservados.</small>	
			</div>
		</div>
	</div>
</footer>