<% content_for :crud do %>
	<div class="center mb-3">
		<span class="btn btn1 mr-3">
  			<%= link_to( octicon("pencil")) %>
  		</span>
		<span class="btn btn1">
  			<%= link_to( octicon("trashcan")) %>
  		</span>
	</div>
	<button class="btn btn-circle shadow-lg" data-toggle="modal" data-target="#newModal">+</button>
<% end %>

<%= render "layouts/services" %>
