<%= render "layouts/header_main" %>

<div class="container mt-3">
	<section class="row">
		<div class="col col-12">
			<h2>Resultados obtenidos:</h2>		
		</div>
		
		<div id="noticias" class="col col-12">
		</div>
	</section>
</div>
