<%@article.pictures.each_with_index do |pic,index|%>
	<div class="col-6 col-md-4 col-xl-3 p-2">
		<%= image_tag(pic.url, class: "img-fluid")%>
		<%= link_to "x", {controller: 'articles', action: 'destroy_picture', index:index, id:@article}, method: 'put', remote: true%>
	</div>
<%end%>