<div class="container">
	<h1 class="py-3"><%=t(".new_article")%></h1>
	<div class="row">
		<div class="col-12 col-md-7 col-lg-6">
			<%= render 'form', article: @article %>
      		<%= link_to '<i class="fas fa-angle-left"></i>'.html_safe, articles_path, class: "btn btn1 mt-3"%>
		</div>
		<div class="col-12 col-md-6">
			<% if @article.pictures.any? %>
				<div class="row" id="result">
					<%=render 'images'%>
				</div>
			<%end%>
		</div>
	</div>
</div>